.loginContainer {
    margin-top: 50px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgba(255, 255, 255, 0.6)
}

.formItem {
    margin-bottom: 20px;
}

.free {
    color: grey;
    font-size: smaller;
    margin-bottom: 20px;
}
